html, body {
  font-family: sans serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 48px;
  font-family: Vollkorn;
  color: #00ABA9;
}
p {
  font-family: Vollkorn;
  font-size: 18px;
  color: #003333;
  line-height: 1.9em;
}



#wrapper {
  min-height: 100%;
  height: 100%;
}

section {
  padding: 40px 40px 40px 40px;
}

.left {
  float: left;
  width: 40%;
  padding: 0 0 0 50px;
}

.right {
  float: right;
  width: 50%;
}

img {
  width: 100%;
  padding: 155px 0 0 0;
}

/* html {
  background: url(http://media3.onsugar.com/files/upl1/0/88/06_2009/M_McConaughey_024.jpg) no-repeat center top fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; 
}
*/